.widgets{
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding-bottom: 10px;
    height: fit-content;

}

.widgets_header{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

}

.widgets_header> h4{
    font-size: 16px;
    font-weight: 400;
}

.widgets_article{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.widgets_article:hover{
    background-color: whitesmoke;
}

.widgets_articleLeft{
    color: #0177b7;
    margin-right: 5px;
}
.widgets_articleRight{
    flex: 1;

}
.widgets_articleRight> h4{
    font-size: 14px;
}
.widgets_articleRight> p{
    font-size: 12px;
    color: gray;
}